<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

   

    <section id="sortjob" ng-controller="JobController as ctrl">
        <div class="container">

            
                <div class="col-md-10">

                    <div class="table-responsive custom-bg-inset">
                        <table class="table" ng-init="ctrl.getAllAppliedJobs()">
                            <thead>
                                <tr>
                                    <th>JobID</th>
                                    <th>UserID</th>
                                    <th>Date Applied</th>
                                    <th>Status</th>    
                                    <th>Reason</th>                                
                                    <th>Select</th>
                                    <th>Call</th>
                                    <th>Interview</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="jobapplication in ctrl. jobapplications">
                                    <td><a href="" ng-click="ctrl.getJobDetails(jobapplication.jobid)">{{jobapplication.jobid}}</a></td>
                                    <td>{{jobapplication.userid}}</td>
                                    <td>{{jobapplication.applieddate}}</td>
                                    <td>{{jobapplication.status}}</td> 
                                    <td>
                                    <p ng-show="jobapplication.status=='S' || jobapplication.status=='C' || jobapplication.status=='R'">
                                    {{jobapplication.reason}}
                                    </p>
                                    <textarea rows="2" class="form-control"  ng-show="jobapplication.status=='N'" placeholder="Reason..." ng-model="ctrl.jobapplication.reason"></textarea>
                                    </td>                                   
                                    <td>
                                        <button ng-show="jobapplication.status=='N'" ng-click="ctrl.selectUser(jobapplication.userid,jobapplication.jobid,reason)" class="btn btn-danger">Select</button>
                                    </td>
                                    <td>
                                        <button ng-show="jobapplication.status=='N' || jobapplication.status=='S'" ng-click="ctrl.callForInterview(jobapplication.email,jobapplication.jobid,jobapplication.reason)" class="btn btn-danger">Interview</button>
                                    </td>
                                    <td >
                                        <button ng-show="jobapplication.status=='N'" ng-click="ctrl.rejectJobApplication(jobapplication.userid,jobapplication.jobid,reason)" class="btn btn-danger">Reject</button>
                                    </td>
                                </tr>                               
                            </tbody>
                        </table>
                        
                    </div>

                </div>
            </div>

        </div>
    </section>


  
</body>
</html>